<footer>
    <div id="foot">
        <span><a href="https://www.linkedin.com/in/amritanshu-jha/" target="_blank">@Amritanshu Jha</a>&nbsp; All Rights Reserved(2020)</span>
        <ul id="foot-options">
            <span>Choose background:</span>
            <button id="dark"><li>Dark</li></button>
            <button id="red"><li>Red</li></button>
            <button id="grey"><li>Grey</li></button>
            <button id="light"><li>Light</li></button>
        </ul>
    </div>
</footer>

<script src="/js/footer.js" ></script>