<footer>
    <a href="https://www.linkedin.com/in/amritanshu-jha/">@Amritanshu Jha</a>&nbsp; All Rights Reserved(2020)
    <!-- <ul id="footer-options">
        
        <li>
            
        </li>
    </ul> -->
</footer>