<footer>
    <p>@Amritanshu Jha. All Rights Reserved(2020)</p>
    <ul id="footer-options">
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/users/profile/<%= user.id %>">
                Profile
            </a>
        </li>
    </ul>
</footer>