<header>
    <h5><i class="fas fa-user small"></i> SocialPal</h5>

    <ul id="sign-options" style="list-style: none;">
        <% if(locals.user){ %>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out"><i class="fas fa-sign-out-alt small"></i> Sign Out</a>
            </li>
        <% } else { %>
            
            <li>
                <a href="/users/sign-in"><i class="fas fa-sign-in-alt small"></i>Sign In</a>
            </li>
            <li>
                <a href="/users/sign-up"><i class="fas fa-plus small"></i>Sign Up</a>
            </li>
        <% } %>
    </ul>
</header>