footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(54, 51, 255);
    color: white;
    padding: 5px;
    height: 1.2rem;
    width: 100vw;
    font-size: xx-small;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    a{
      color: white;
    }
    a:hover{
      color: white;
    }
  }