header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #355de0;
    // background-image: linear-gradient(to right, #000000 10%,rgba(65, 65, 71, 0.9));
    color: white;
    padding: 5px;
    height: 2rem;
    position: fixed;
    top: 0;
    width: 100vw;
    #sign-options li{
      display: inline;
      font-size: small;
      color: white;
      font-size: small;
     // margin-left: 1em;
      margin-right: 1em;
      a{
        color: white;
        i{
            margin: 0.3vw;
        }
      }
    }
  }