#home-container{
    display: flex;
    flex-direction: row;

    #account{
        margin-top: 10vh;
        color: black;
        #card{
            padding: 5px;
        }
    }

    #feed-posts{
        margin-left: 3%;
        width: 70%;
        padding: 10px;
        margin-top: 0.5rem;
        border-left: 1px solid rgb(149, 147, 147);
    }

    #user-friends{
        width: 30%;
        padding: 10px;
        margin-top: 0.5rem;
        border-left: 1px solid rgb(149, 147, 147);
    }

    #text{
        margin-left:-30px;
        margin-top: 10px;
        padding: 2px;
        background-color: rgb(0, 211, 183);
        top: 3rem;
        color: rgb(255, 255, 255);
        height: 2rem;
        position: absolute;
        border-radius: 5px;
        font-weight: bold;
        
    }

    
}

@media only screen and (max-width: 400px) {
    #home-container #text {
      font-size: xx-small;
      height: 1.5rem; } }