<div>
    <p> Hi <%= post.user.name %>!</p>
    <br>
    <p>Your post has a new comment: "<strong><%= comment.content %></strong>" by <strong><%= comment.user.name %></strong>. Hope you are enjoying SocialPal! :) </p>
    <br>
    <span>Regards,</span><br>
    <span>Team SocialPal</span>
</div>