footer {
  display: flex;
  flex-direction: row;
  background-color: #2b2be7;
  background-image: linear-gradient(to right, #2c3afd, #373aec);
  color: white;
  padding: 2.5px;
  height: 1.35rem;
  width: 100vw;
  font-size: x-small;
  position: fixed;
  bottom: 0;
  box-sizing: border-box; }
  footer a {
    color: white; }
  footer a:hover {
    color: white; }
