footer {
  display: flex;
  flex-direction: row;
  background-color: #3633ff;
  color: white;
  padding: 5px;
  height: 1.2rem;
  width: 100vw;
  font-size: xx-small;
  position: fixed;
  bottom: 0;
  box-sizing: border-box; }
  footer a {
    color: white; }
  footer a:hover {
    color: white; }
